.slider .track {
      	-fx-background-color: #43300a;
}
.slider .thumb {
	-fx-background-color: #43300a;
}
.slider .colored-track {
	-fx-background-color: #bc8c44;
}
.slider .animated-thumb {
	-fx-background-color: #bc8c44
}
