.color-picker:editable .color-picker-label .text {
visibility: false;
}
.titled-pane:expanded .title {
fx-background-radius: 0;
fx-border-radius: 0;
}
.titled-pane:expanded {
fx-background-radius: 0;
fx-border-radius: 0;
}
.menu-button:openvertically .label{
visibility: false;
}